[Unit]
Description=web-template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/web-template
ExecStart=/opt/web-template/web-template.mjs
EnvironmentFile=/opt/web-template/.env

[Install]
WantedBy=multi-user.target
